<template>
  <div class="container mt-3">
    <div class="row mt-3 mb-3">
      <div class="col-sm-12">
        <h2> Статистика Защит </h2>
      </div>
    </div>

    <FilterDefender @filterData="filterData"/>

    <TotalDefender v-if="totalShow" :heroesGold="heroesGold" :clanGold="clanGold" :goldTotalHeroes="goldTotalHeroes"
                   :totalGoldAll="totalGoldAll"/>

    <HeroesTable v-if="tableShow" :heroesDef="heroesDef"/>

  </div>

</template>

<script>
import FilterDefender from "./components/FilterDefender"
import TotalDefender from "./components/TotalDefender"
import HeroesTable from "./components/HeroesTable"
import defenderPresenter from "@/api/presenter/defender/defenderPresenter";

export default {
  name: "DefenderPage",
  components: {
    FilterDefender,
    TotalDefender,
    HeroesTable
  },
  data: () => ({
    selectDateStart: '',
    selectDateFinish: '',
    selectClan: '',
    presenter: new defenderPresenter(),
    totalShow: false,
    tableShow: false,
    heroesGold: 0,
    clanGold: {
      taxesPaid: {
        title: '',
        gold: '',
      },
      taxesReceived: {
        title: '',
        gold: '',
      },
      receivedForDef: {
        title: '',
        gold: '',
      },
    },
    heroesDef: [],
    goldTotalHeroes: 0,
    totalGoldAll: 0,
  }),
  methods: {
    async filterData(data) {
      this.heroesGold = await this.presenter.getHeroesGold(data.dateStart, data.dateFinish, data.clan)
      this.clanGold = await this.presenter.getClanGold(data.dateStart, data.dateFinish, data.clan)
      let heroesInfo = await this.presenter.getHeroesDef(data.dateStart, data.dateFinish, data.clan)
      this.heroesDef = heroesInfo.heroesData
      this.goldTotalHeroes = heroesInfo.goldTotal
      this.totalGoldAll = 0;
      this.totalGoldAll += this.heroesGold + this.clanGold.taxesReceived.gold + this.clanGold.taxesPaid.gold +
          this.clanGold.receivedForDef.gold + this.goldTotalHeroes + this.totalGoldAll
      this.totalShow = true
      this.tableShow = true
    }
  }
}
</script>

<style scoped>
.text-left {
  text-align: left;
}

.el-row {
  margin-bottom: 20px;
}

.el-col {
  border-radius: 4px;
}

</style>
