<template>
  <div class="container mt-3">
    <div class="row mt-3 mb-3">
      <div class="col-sm-12">
        <h2> Статистика клан склада </h2>
      </div>

      <div class="col-sm-12">
        <FilterStore @filterData="filterData"/>
      </div>
      <div class="col-sm-12 mt-3">
        <TotalStore
            :profitTotal="profitTotal"
            :totalGoldRepair="totalGoldRepair"
            :totalGoldBlacksmith="totalGoldBlacksmith"
        />
      </div>
    </div>

    <el-tabs class="mt-3" v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="Графики" name="first">
        <div class="row">
          <div class="col-sm-6 mt-3">
            <ChartProfitStore title="Прибыль Склада" :profitTotal="profitTotal" :data="profitDataChart"/>
          </div>
          <div class="col-sm-6 mt-3">
            <ChartProfitStore title="Затрачено на ремонт" :profitTotal="totalGoldRepair" :data="repairDataChart"/>
          </div>
          <div class="col-sm-6 mt-3">
            <ChartProfitStore title="Выплачено кузнецам" :profitTotal="totalGoldBlacksmith" :data="expenseDataChart"/>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Таблица Артов" name="second">
        <div class="col-sm-12 mt-3">
          <TableArtStore :tableData="tableArtProfit"/>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Таблица Кузнецов" name="third">
        <div class="col-sm-12 mt-3">
          <TableBlacksmithStore :tableData="tableBlacksmithProfit"/>
        </div>
      </el-tab-pane>

    </el-tabs>

  </div>
</template>

<script>
import FilterStore from "@/views/notUser/clan/store/components/FilterStore";
import ChartProfitStore from "@/views/notUser/clan/store/components/ChartProfitStore";
import storePresenter from "@/api/presenter/store/storePresenter"
import TotalStore from "@/views/notUser/clan/store/components/TotalStore"
import TableArtStore from "@/views/notUser/clan/store/components/TableArtStore"
import TableBlacksmithStore from "@/views/notUser/clan/store/components/TableBlacksmithStore"


export default {
  name: "StorePage",
  components: {
    FilterStore,
    ChartProfitStore,
    TotalStore,
    TableArtStore,
    TableBlacksmithStore,
  },
  data: () => ({
    presenter: new storePresenter(),
    profitDataChart: {},
    profitTotal: '0',
    expenseDataChart: {},
    repairDataChart: {},
    totalGoldBlacksmith: '0',
    totalGoldRepair: '0',
    tableArtProfit:[],
    tableBlacksmithProfit:[],
    activeName: 'first'
  }),
  methods: {
    filterData(data) {
      this.presenter.getProfitClanStore(data).then(response => {
        let profitData = {}
        response.clanStore.forEach(el => {
          profitData[el.date] = Number(el.gold)
        })
        this.profitDataChart = profitData
      })

      this.presenter.getExpenseClanStore(data).then(response => {
        let expenseData = {}
        let repairData = {}
        response.clanStore.forEach(el => {
          expenseData[el.date] = Number(el.blacksmithGold)
          repairData[el.date] = Number(el.repairGold)
        })
        this.expenseDataChart = expenseData
        this.repairDataChart = repairData
      })

      this.presenter.getProfitTotalClanStore(data).then(response => {
       this.profitTotal = response.data
      })

      this.presenter.getExpenseTotalClanStore(data).then(response => {
       this.totalGoldBlacksmith = response.data.totalGoldBlacksmith
       this.totalGoldRepair = response.data.totalGoldRepair
      })

      this.presenter.getArtProfitClanStore(data).then(response => {
        this.tableArtProfit = response.data
      })

      this.presenter.getBlacksmithProfitClanStore(data).then(response => {
        this.tableBlacksmithProfit = response.data
      })

    },

    handleClick(tab, event) {
      console.log(tab, event);
    }
  }
}
</script>

<style scoped>

</style>
