<template>
  <div class="container ">
    <div class="row mt-3">
      <div class="col-sm-12 mt-3 mb-3">
        <h2>
          Настройка артефактов
        </h2>
      </div>

      <CreateArt :artTypes="artTypes" @saveArt="saveArt"></CreateArt>

      <ArtTable :artTypes="artTypes" :presenter="presenter" :arts="arts" />

    </div>
  </div>
</template>

<script>
import ArtPresenter from "@/api/presenter/art/artPresenter";
import CreateArt from "@/views/admin/arts/components/CreateArt";
import ArtTable from "@/views/admin/arts/components/ArtTable";

export default {
  name: "artsPage",
  components: {
    CreateArt,
    ArtTable
  },
  data: () => ({
    presenter: new ArtPresenter(),
    artTypes: [],
    arts: [],
    artInfo:{},
  }),
  async mounted() {
    this.artTypes = await this.presenter.getArtTypes()
    await this.getArts()
  },
  methods: {
    async getArts() {
      this.arts = await this.presenter.getArts()
    },

    async saveArt(data) {
      let response = await this.presenter.crateArt(data)
      if (response.error) {
        this.$notify.error({
          title: 'Ошибка',
          message: response.error
        });
        return
      }
      if (response.status) {
        this.$notify.success({
          title: 'Отлично',
          message: 'Артефакт успешно добавлен'
        });
        this.getArts()
        return
      }
    }
  }
}
</script>

<style scoped>

</style>
