<template>
  <div>
    <el-card v-if="isChangeBlockShow" shadow="hover">
      <div class="row">
        <div class="col-sm-12 mb-3">
          <h5> Изменение артефакта </h5>
        </div>
        <div class="col-sm-6 mb-3">
          <el-input placeholder="название" v-model="changeData.title"></el-input>
        </div>
        <div class="col-sm-6 mb-3">
          <el-input placeholder="Цена" type="number" v-model="changeData.price"></el-input>
        </div>
        <div class="col-sm-6 mb-3">
          <el-input placeholder="Цена ремонта" type="number" v-model="changeData.repairPrice"></el-input>
        </div>
        <div class="col-sm-6 mb-3">
          <el-input placeholder="Айди из ссылки" v-model="changeData.id"></el-input>
        </div>
        <div class="col-sm-6 mb-3">
          <el-input placeholder="Ссылка" v-model="changeData.href"></el-input>
        </div>
        <div class="col-sm-6 mb-3">
          <el-select v-model="selectArtType" placeholder="Выбор Типа артефакта">
            <el-option
                v-for="item in artTypes"
                :key="item._id"
                :label="item.title"
                :value="item.code">
            </el-option>
          </el-select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-9"></div>
        <div class="col-sm-3 mb-3">
          <el-button type="success" @click="changeDataApi()" plain> Изменить</el-button>
        </div>
      </div>
    </el-card>
    <el-card class="mt-3" style="height: 570px; overflow-y:auto" shadow="hover">
      <el-table
          :data="arts"
          style="width: 100%">
        <el-table-column
            prop="title"
            label="Название"
            width="180">
        </el-table-column>
        <el-table-column
            prop="code"
            label="Отсек"
            width="100">
        </el-table-column>
        <el-table-column
            prop="price"
            label="Цена"
            width="100">
        </el-table-column>
        <el-table-column
            prop="repairPrice"
            label="Ремонт"
            width="100">
        </el-table-column>
        <el-table-column
            prop="id"
            label="Айди"
            width="180">
        </el-table-column>
        <el-table-column
            prop="href"
            label="ссылка"
            width="400">
        </el-table-column>
        <el-table-column
            label="Дейтстивие"
            width="200">
          <template slot-scope="scope">
            <div>
              <el-button type="primary" plain icon="el-icon-edit" @click="changeItem(scope.row)"></el-button>
              <el-button type="danger" plain icon="el-icon-delete" @click="deleteItem(scope.row)"></el-button>
            </div>
          </template>
        </el-table-column>


      </el-table>
    </el-card>
  </div>

</template>

<script>
export default {
  name: "ArtTable",
  props: ['arts', 'artTypes', 'presenter'],
  data: () => ({
    isChangeBlockShow: false,
    changeData: {
      title: '',
      price: '',
      repairPrice: '',
      href: '',
      id: '',
      code: '',
    },
    selectArtType: '',
    deleteId:'',
  }),
  methods: {
    changeItem(data) {
      this.isChangeBlockShow = true
      this.changeData = data
      this.selectArtType = data.code
    },
    async changeDataApi() {
      this.changeData.code = this.selectArtType
      let response = await this.presenter.changeArts(this.changeData)
      if (response.error) {
        this.$notify.error({
          title: 'Ошибка',
          message: response.error
        });
        return
      }
      if (response.status) {
        this.$notify.success({
          title: 'Отлично',
          message: 'Артефакт успешно Изменен'
        });
      }
      this.isChangeBlockShow = false
    },
    deleteItem(data) {
      this.deleteId = data._id
      this.deleteModal()
    },
    deleteModal() {
      this.$confirm('Вы действительно хотите удалить артефакт?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.presenter.deleteArts(this.deleteId).then(el=> {
          if (el.status) {
            this.$message({
              type: 'success',
              message: 'Удаление успешно'
            });
          } else {
            this.$message({
              type: 'danger',
              message: el.error
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Удаление отменено'
        });
      });
    }
  }
}
</script>

<style scoped>

</style>
