<template>
  <el-card shadow="hover">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <h5> Добавление артефакта </h5>
      </div>
      <div class="col-sm-6 mb-3">
        <el-input placeholder="название" v-model="title"></el-input>
      </div>
      <div class="col-sm-6 mb-3">
        <el-input placeholder="Цена" type="number" v-model="price"></el-input>
      </div>
      <div class="col-sm-6 mb-3">
        <el-input placeholder="Цена ремонта" type="number" v-model="repairPrice"></el-input>
      </div>
      <div class="col-sm-6 mb-3">
        <el-input placeholder="Айди из ссылки" v-model="id"></el-input>
      </div>
      <div class="col-sm-6 mb-3">
        <el-input placeholder="Ссылка" v-model="href"></el-input>
      </div>
      <div class="col-sm-6 mb-3">
        <el-select v-model="selectArtType" placeholder="Выбор Типа артефакта">
          <el-option
              v-for="item in artTypes"
              :key="item._id"
              :label="item.title"
              :value="item.code">
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-9"></div>
      <div class="col-sm-3 mb-3">
        <el-button type="success" @click="saveArt()" plain> Сохранить</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
export default {
  name: "createArt",
  props: ['artTypes'],
  data: () => ({
    title: '',
    price: '',
    repairPrice: '',
    href: '',
    id: '',
    selectArtType: '',
  }),
  methods: {
    saveArt() {
      this.$emit('saveArt', {
        title: this.title,
        price: this.price,
        repairPrice: this.repairPrice,
        href: this.href,
        id: this.id,
        code: this.selectArtType
      })
      this.title = ''
      this.price = ''
      this.repairPrice = ''
      this.href = ''
      this.id = ''
    }
  }
}
</script>

<style scoped>

</style>
