<template>
  <div>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">
        <i class="el-icon-s-home"></i>
        Главная
      </el-menu-item>
      <el-menu-item index="2">
        <i class="el-icon-data-analysis"></i>
        Акции
      </el-menu-item>
      <el-submenu index="3">
        <template slot="title">Для кланов</template>
        <el-menu-item index="3-1">
          <i class="el-icon-document"></i>
          Сурвилуги
        </el-menu-item>
        <el-menu-item index="3-2">
          <i class="el-icon-s-shop"></i>
          Клан Скад
        </el-menu-item>
        <el-menu-item index="3-3">
          <i class="el-icon-place"></i>
          Предприятия
        </el-menu-item>
      </el-submenu>
    </el-menu>
    <router-view />
  </div>


</template>


<script>
export default {
  name: "NotUserTopBar",
  data() {
    return {
      activeIndex: '1',
      paths: [
        {
          key: '1',
          path: '/startPage'
        },
        {
          key: '2',
          path: '/stonks'
        },
        {
          key: '3-1',
          path: '/clan/defender'
        },
        {
          key: '3-2',
          path: '/clan/store'
        },
        {
          key: '3-3',
          path: '/clan/factory'
        },
      ],
    };
  },
  mounted() {
    let findSelectRout = this.paths.find(el => {
      if (this.$route.path === el.path)
        return el
    })
    this.activeIndex = findSelectRout.key
  },
  methods: {
    handleSelect(key) {
      let findSelectRout = this.paths.find(el => {
        if (key === el.key)
          return el
      })
      if (findSelectRout && this.$route.fullPath !== findSelectRout.path) {
        this.$router.push(findSelectRout.path)
      }
    }
  }
}
</script>
