<template>
  <div class="container mt-3">
    <div class="row mt-3 mb-3">
      <div class="col-sm-12">
        <h2> Статистика предприятий </h2>

      </div>
      <div class="col-sm-12 mb-3">
        <FilterFactory @filterData="filterData"/>
      </div>
      <div class="col-sm-12 mt-3">
        <BlockFactory v-if="tableShow" :factoryData="factoryData"/>
      </div>
    </div>
  </div>
</template>

<script>
import FilterFactory from "@/views/notUser/clan/factory/components/FilterFactory";
import BlockFactory from "@/views/notUser/clan/factory/components/BlockFactory"
import mapPresenter from "@/api/presenter/map/mapPresenter";
export default {
name: "FactoryPage",
  components:{
    FilterFactory,
    BlockFactory
  },
  data:()=>({
    presenter: new mapPresenter(),
    factoryData:[],
    tableShow:false,
  }),
  mounted() {
  },
  methods:{
    async filterData(data){
      let response = await this.presenter.getFactory(data)
      if(response.error){
        data = response.error
        this.$notify[data.type]({
          title: data.title,
          message: data.text
        });
        return
      }

      this.factoryData = response
      this.tableShow = true
    }
  }
}
</script>

<style scoped>

</style>
