<template>
  <div>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">
        Артефакты
      </el-menu-item>
    </el-menu>
    <router-view/>
  </div>
</template>


<script>
export default {
  name: "AdminTopBar",
  data() {
    return {
      activeIndex: '1',
      paths: [
        {
          key: '1',
          path: '/adminPanel/arts'
        },
      ],
    };
  },
  mounted() {
    let findSelectRout = this.paths.find(el => {
      if (this.$route.path === el.path)
        return el
    })
    this.activeIndex = findSelectRout.key
  },
  methods: {
    handleSelect(key) {
      let findSelectRout = this.paths.find(el => {
        if (key === el.key)
          return el
      })
      if (findSelectRout && this.$route.fullPath !== findSelectRout.path) {
        this.$router.push(findSelectRout.path)
      }
    }
  }
}
</script>
