<template>
  <div class="row ">
    <el-card class="ml-3 mb-3" shadow="hover">
      <p>
        {{ title }}: {{ profitTotal }}
        <img :src="goldIcon">
      </p>
      <line-chart :data="data"></line-chart>
    </el-card>
  </div>

</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  // пример даты {'2017-01-01': 11, '2017-01-02': 6}
  props: ['data', 'title', 'profitTotal'],
  name: "ChartLine",
  data: () => ({
    goldIcon: goldIcon,
  })
}
</script>

<style scoped>
img {
  width: 20px;
  height: 20px;
}
</style>
