<template>
  <div class="row">
    <el-card shadow="hover">
      <p> Таблица артефактов</p>
      <hr>

      <el-table
          class="mt-3 mb-3"
          :data="tableData"
          style="width: 100%;height: 400px; overflow: auto">

        <el-table-column
            prop="artTitle"
            label="Артефакт">
        </el-table-column>

        <el-table-column
            prop="total"
            label="Чистая прибыль">
          <template slot-scope="scope">
            <div style="display: flex">
              <img class="total" :src="goldIcon">
              {{ scope.row.total }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
            prop="gold"
            label="Прибыль">
          <template slot-scope="scope">
            <div style="display: flex">
              <img class="gold" :src="goldIcon">
              {{ scope.row.gold }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
            prop="repairGold"
            label="Ремон">
          <template slot-scope="scope">
            <div style="display: flex">
              <img class="gold" :src="goldIcon">
              {{ scope.row.repairGold }}
            </div>
          </template>
        </el-table-column>

        <el-table-column
            prop="blacksmithGold"
            label="ЗП кузнецу">
          <template slot-scope="scope">
            <div style="display: flex">
              <img class="gold" :src="goldIcon">
              {{ scope.row.blacksmithGold }}
            </div>
          </template>
        </el-table-column>

      </el-table>

    </el-card>
  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  props: ['tableData'],
  name: "TableArtStore",
  data: () => ({
    goldIcon: goldIcon,
  })
}
</script>

<style scoped>
img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
</style>