<template>
  <div class="row">
    <el-card shadow="hover">
      <div class="row">

        <div class="col-sm-12 mb-2" style="text-align: center; display: block">
          <p> Тотолы </p>
        </div>
        <hr>

        <div class="col-sm-12 mb-2">
          Прибыль Склада:
          <div>
            {{ profitTotal }}
            <img :src="goldIcon">
          </div>
        </div>
        <hr>

        <div class="col-sm-12 mt-2 mb-2">
          Затрачено на ремонт:
          <div>
            -{{ totalGoldRepair }}
            <img :src="goldIcon">
          </div>
        </div>
        <hr>

        <div class="col-sm-12 mt-2 mb-2">
          Выплачено кузнецам:
          <div>
            -{{ totalGoldBlacksmith }}
            <img :src="goldIcon">
          </div>
        </div>
        <hr>

        <div class="col-sm-12 mt-2 mb-2">
          Итог:
          <div>
            {{ profitTotal - totalGoldRepair - totalGoldBlacksmith }}
            <img :src="goldIcon">
          </div>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  props: [
    'profitTotal',
    'totalGoldRepair',
    'totalGoldBlacksmith'
  ],
  name: "TotalStore",
  data: () => ({
    goldIcon: goldIcon
  })
}
</script>

<style scoped>
div.col-sm-12 {
  display: flex;
  justify-content: space-between;
}

img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
</style>