<template>
  <div class="row">
    <el-card shadow="hover">

      <div class="row  mb-3">

        <div class="col-sm-4 mb-3">
          <el-date-picker
              v-model="dateStart"
              type="date"
              placeholder="Дата от">
          </el-date-picker>
        </div>

        <div class="col-sm-4 mb-3">
          <el-date-picker
              v-model="dateFinish"
              type="date"
              placeholder="Дата до">
          </el-date-picker>
        </div>

        <div class="col-sm-4 mb-3">
          <el-select v-model="clan" placeholder="Выбор клана">
            <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              <img style='width: 25px' :src="item.img">
              <a> {{ item.label }} </a>
            </el-option>
          </el-select>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4 mb-3">
          <el-button type="primary" @click="prevMonth()" plain>Прошлый месяц</el-button>
        </div>

        <div class="col-sm-4 mb-3">
          <el-button type="primary" @click="thisMonth()" plain>Этот месяц</el-button>
        </div>

        <div class="col-sm-4 mb-3">
          <el-button type="success" @click="startSearch()" plain>Применить</el-button>
        </div>

      </div>

    </el-card>
  </div>
</template>

<script>

import moment from "moment/moment";

export default {
  name: "FilterDefender",
  data: () => ({
    dateStart: '',
    dateFinish: '',
    options: [
      {
        value: '1790',
        label: '#1790 Орден "Клинок теней"',
        img: 'https://dcdn.heroeswm.ru/i_clans/l_1790.gif?v=38'
      }, {
        value: '302',
        label: '#302 Орден Единых',
        img: 'https://dcdn.heroeswm.ru/i_clans/l_302.gif?v=273'
      },
      {
        value: '63',
        label: ' #63 Desperados',
        img: 'https://dcdn.heroeswm.ru/i_clans/l_63.gif?v=5'
      },
    ],
    clan: ''
  }),
  methods: {
    startSearch() {
      if (!this.dateStart) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Дата от не заполнена!'
        });
        return
      }

      if (!this.dateFinish) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Дата до не заполнена!'
        });
        return
      }

      if (!this.clan) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан не выбран!'
        });
        return
      }

      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clan: this.clan,
      })

    },
    thisMonth() {
      if (!this.clan) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан не выбран!'
        });
        return
      }
      this.dateStart = moment().startOf('month').format('YYYY-MM-DD')
      this.dateFinish = moment().endOf('month').format('YYYY-MM-DD')

      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clan: this.clan,
      })
    },
    prevMonth() {
      if (!this.clan) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан не выбран!'
        });
        return
      }
      this.dateStart = moment(moment().subtract(1, 'months')
          .startOf('month')._d).format('YYYY-MM-DD')
      this.dateFinish = moment(moment().subtract(1, 'months')
          .endOf('month')._d).format('YYYY-MM-DD')

      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clan: this.clan,
      })

    }
  }
}
</script>

<style scoped>
.text-left {
  text-align: left;
}

.el-row {
  margin-bottom: 20px;
}

.el-col {
  border-radius: 4px;
}
</style>