<template>
  <div class="row mt-3">
    <el-card shadow="hover">
      <el-table
          :data="heroesDef"
          style="width: 100%">
        <el-table-column
            prop="index"
            label="#"
            width="50">
        </el-table-column>
        <el-table-column
            prop="heroesNickName"
            label="НИК"
            width="180">
        </el-table-column>
        <el-table-column
            prop="heroesDefTotal"
            label="ВСЕГО БОЕВ"
            width="180">
        </el-table-column>
        <el-table-column
            prop="heroesDefWin"
            label="ПОБЕД"
            width="100">

        </el-table-column>
        <el-table-column
            prop="heroesDefLose"
            label="ПОРАЖЕНИЙ"
            width="170">

        </el-table-column>
        <el-table-column
            prop="heroesPVPDefTotal"
            label="PVP"
            width="150">
        </el-table-column>
        <el-table-column
            prop="heroesPVPDefWin"
            label="ПОБЕД"
            width="150">

        </el-table-column>
        <el-table-column
            prop="heroesPVPDefLose"
            label="ПОРАЖЕНИЙ"
            width="150">

        </el-table-column>
        <el-table-column
            prop="heroesPVPDefLose"
            label="Процент"
            width="120">
          <template slot-scope="scope">
            <div style="display: flex">
              {{
                Math.floor((scope.row.heroesDefWin + scope.row.heroesPVPDefWin) /
                    (scope.row.heroesDefTotal + scope.row.heroesPVPDefTotal) * 100)
              }} %
            </div>
          </template>
        </el-table-column>

      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  props: {
    heroesDef: {
      default: []
    }
  },
  name: "HeroesTable",
  data: () => ({})
}
</script>

<style scoped>

</style>