<template>
  <div class="row mt-3">
    <el-card shadow="hover">
      <div class="clearfix">
        <span>Тотолы</span>
      </div>
      <hr>

      <div class="col-sm-12">
        {{ clanGold.taxesPaid.title }}:
        <div>
          {{ clanGold.taxesPaid.gold }}
          <img :src="goldIcon">
        </div>
      </div>
      <hr>

      <div class="col-sm-12">
        {{ clanGold.taxesReceived.title }}:
        <div>
          {{ clanGold.taxesReceived.gold }}
          <img :src="goldIcon">
        </div>
      </div>
      <hr>

      <div class="col-sm-12">
        {{ clanGold.receivedForDef.title }}:
        <div>
          {{ clanGold.receivedForDef.gold }}
          <img :src="goldIcon">
        </div>
      </div>
      <hr>

      <div class="col-sm-12">
        <p> Доплачено за защиту : </p>
        <div>
          {{ goldTotalHeroes }}
          <img :src="goldIcon">
        </div>
      </div>
      <hr>

      <div class="col-sm-12">
        Золото выплаченое героям:
        <div>
          {{ heroesGold }}
          <img :src="goldIcon">
        </div>
      </div>
      <hr>

      <div class="col-sm-12">
        Итог:
        <div>
          {{ totalGoldAll }}
          <img :src="goldIcon">
        </div>
      </div>
    </el-card>

  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  props: {
    heroesGold: {default: ''},
    clanGold: {
      taxesPaid: {
        title: {default: ''},
        gold: {default: ''},
      },
      taxesReceived: {
        title: {default: ''},
        gold: {default: ''},
      },
      receivedForDef: {
        title: {default: ''},
        gold: {default: ''},
      },
    },
    goldTotalHeroes: {default: ''},
    totalGoldAll: {default: ''}
  },
  name: "TotalDefender",

  data: () => ({
    goldIcon: goldIcon,
  })

}
</script>

<style scoped>
div.col-sm-12 {
  display: flex;
  justify-content: space-between;
}

img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
</style>