<template>
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-sm-12 mt-3 ">
        <h2> Стартовая страница</h2>
      </div>
      <div class="col-sm-12 mt-3">
        <el-card class="ml-3" shadow="hover">
          <p>Скоро здесь появиться более подробная информация 😇</p>
        </el-card>
      </div>
      <div class="col-sm-6 mt-3">
        <el-card class="ml-3" shadow="hover">
          <p>
            Вся информация о обновлении ресурса:
            <a href="https://t.me/hwm_helper" style="text-decoration: none" target="_blank"> https://t.me/hwm_helper</a>
          </p>
        </el-card>
      </div>
      <div class="col-sm-6 mt-3">
        <el-card class="ml-3" shadow="hover">
          <p>
            Идеи,предложения или сообщить о проблеме можно отправить игроку:
            <a href="https://www.heroeswm.ru/pl_info.php?id=6727991" style="text-decoration: none" target="_blank">
              Яшка </a>
          </p>
        </el-card>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div  class="col-sm-12 mt-3">
        <h3> Тарифы </h3>
      </div>

      <div  class="col-sm-6 mt-3">
        <el-card class="ml-3" shadow="hover">
          <h3>
            Стартовый
          </h3>
          <p>
            На выбор:
          </p>
          <ul>
            <li>
              <a href="#" @click="$router.push('/stonks')">Статистика акций</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/factory')"> Статистика предприятий</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/defender')">Статистика Защит</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/store')">Статистика клан склада</a>
            </li>
          </ul>
          <p>
            Цена: 10 000
            <img :src="goldIcon">
          </p>
        </el-card>
      </div>
      <div  class="col-sm-6 mt-3">
        <el-card class="ml-3" shadow="hover">
          <h3>
            Максимальный
          </h3>
          <p>
            Весь функционал включен:
          </p>
          <ul>
            <li>
              <a href="#" @click="$router.push('/stonks')">Статистика акций</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/factory')"> Статистика предприятий</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/defender')">Статистика Защит</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/store')">Статистика клан склада</a>
            </li>
          </ul>
          <p>
            Цена: 15 000
            <img :src="goldIcon">
          </p>
        </el-card>
      </div>
      <div  class="col-sm-6 mt-3">
        <el-card class="ml-3" shadow="hover">
          <h3>
            Free
          </h3>
          <p>
            Весь бесплатный функционал:
          </p>
          <ul>
            <li>
              <a href="#" @click="$router.push('/stonks')">Статистика акций</a>
            </li>
            <li>
              <a href="#" @click="$router.push('/clan/factory')"> Статистика предприятий</a>
            </li>
          </ul>
          <p>
            Цена: 0
            <img :src="goldIcon">
          </p>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"
export default {
  name: "StartPage",
  data: () => ({
    goldIcon: goldIcon,
  })

}
</script>

<style scoped>
img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
</style>
