<template>
  <div class="container mt-3">
    <div class="row  mt-3 mb-3">
      <div class="col-sm-12">
        <h2> Рейтинг акций предприятий </h2>
        <hr>
      </div>

      <div class="col-sm-7 mt-2">
        <CompanyTable @showStonksholder="showStonksholder" :stonksData="stonksData"/>
      </div>
      <div class="col-sm-5 mt-2">
        <StockholderTable :stonksholder="stonksholder" :oneStonkMoney="oneStonkMoney"/>
      </div>
    </div>
  </div>

</template>

<script>
import CompanyTable from './components/CompanyTable'
import StockholderTable from './components/StockholderTable'
import stonksPresenter from "@/api/presenter/stonks/stonksPresenter";

export default {
  name: "StonksPage",
  components: {
    CompanyTable,
    StockholderTable,
  },
  data: ()=>({
    stonksData: [],
    presenter: new stonksPresenter(),
    stonksholder:[],
    oneStonkMoney:0,
  }),
  async mounted() {
    this.stonksData = await this.presenter.getLastWeekStonks()
  },
  methods:{
    showStonksholder(row){
      this.stonksholder = row.heroesStonks
      this.oneStonkMoney = row.oneStonkMoney
    }
  }
}
</script>

<style scoped>

</style>
