<template>
  <div class="row mt-3">
    <div class="col-sm-6" v-for="itemData in factoryData" :key="itemData.id">
      <ItemFactory :itemData="itemData" />
    </div>

  </div>
</template>

<script>
import ItemFactory from "./ItemFactory"
export default {
  props: {
    factoryData: {
      default: []
    }
  },
  components:{
    ItemFactory,
  },
  name: "BlockFactory",
  data: () => ({})
}
</script>

<style scoped>

</style>

