<template>
  <div class="row">
    <el-card shadow="hover">

      <div class="row  mb-3">

        <div class="col-sm-3 mb-3">
          <el-date-picker
              v-model="dateStart"
              type="date"
              placeholder="Дата от">
          </el-date-picker>
        </div>

        <div class="col-sm-3 mb-3">
          <el-date-picker
              v-model="dateFinish"
              type="date"
              placeholder="Дата до">
          </el-date-picker>
        </div>

        <div class="col-sm-3 mb-3">
          <el-select v-model="clan" filterable  placeholder="Выбор клана">
            <el-option
                v-for="item in clanSelector"
                :key="item.clanId"
                :label="item.clanTitle"
                :value="item.clanId">
              <img style='width: 25px' :src="item.clanLogo">
              <a> {{ item.clanTitle }} </a>
            </el-option>
          </el-select>
        </div>
        <div class="col-sm-3 mb-3">
          <el-select v-model="mapSelect" filterable  placeholder="Выбор региона">
            <el-option
                v-for="item in mapSelector"
                :key="item.title"
                :label="item.title"
                :value="item.title">
            </el-option>
          </el-select>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-3 mb-3">
          <el-button type="primary" @click="prevMonth()" plain>Прошлый месяц</el-button>
        </div>

        <div class="col-sm-3 mb-3">
          <el-button type="primary" @click="thisMonth()" plain>Этот месяц</el-button>
        </div>

        <div class="col-sm-3 mb-3">
          <el-button type="warning" @click="clearFilter()" plain> Очистить</el-button>

        </div>
        <div class="col-sm-3 mb-3">
          <el-button type="success" @click="startSearch()" plain>Применить</el-button>

        </div>

      </div>

    </el-card>
  </div>
</template>

<script>

import moment from "moment/moment";
import ClansPresenter from "@/api/presenter/clans/clansPresenter";
import MapPresenter from "@/api/presenter/map/mapPresenter";

export default {
  name: "FilterFactory",
  data: () => ({
    clanPresenter: new ClansPresenter(),
    mapPresenter: new MapPresenter(),
    dateStart: '',
    dateFinish: '',
    clanSelector: [],
    mapSelector: [],
    clan: '',
    mapSelect: '',
  }),
  async mounted() {
    this.clanSelector = await this.clanPresenter.getAllClans()
    this.mapSelector = await this.mapPresenter.getAllMapSectors()
  },
  methods: {
    clearFilter(){
      this.clan = ''
      this.mapSelect = ''
      this.dateStart = ''
      this.dateFinish = ''
    },
    startSearch() {
      if (!this.dateStart) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Дата от не заполнена!'
        });
        return
      }

      if (!this.dateFinish) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Дата до не заполнена!'
        });
        return
      }
      if (!this.clan && !this.mapSelect) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан или регион не выбран!'
        });
        return
      }
      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clanId: this.clan,
        region:this.mapSelect,
      })

    },
    thisMonth() {
      if (!this.clan && !this.mapSelect) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан или регион не выбран!'
        });
        return
      }

      this.dateStart = moment().startOf('month').format('YYYY-MM-DD')
      this.dateFinish = moment().endOf('month').format('YYYY-MM-DD')

      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clanId: this.clan,
        region:this.mapSelect,
      })
    },
    prevMonth() {
      if (!this.clan && !this.mapSelect) {
        this.$notify.error({
          title: 'Ошибка',
          message: 'Клан или регион не выбран!'
        });
        return
      }
      this.dateStart = moment(moment().subtract(1, 'months')
          .startOf('month')._d).format('YYYY-MM-DD')
      this.dateFinish = moment(moment().subtract(1, 'months')
          .endOf('month')._d).format('YYYY-MM-DD')

      this.$emit('filterData', {
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        clanId: this.clan,
        region:this.mapSelect,
      })

    }
  }
}
</script>

<style scoped>
.text-left {
  text-align: left;
}

.el-row {
  margin-bottom: 20px;
}

.el-col {
  border-radius: 4px;
}
</style>

