<template>
  <el-card shadow="hover" class="mt-3">
    <p>
      <a :href="itemData.clanHref" style="text-decoration: none; text-align: center" class="mb-3" target="_blank">
        <img class="logo" :src="itemData.clanLogo"/>
        {{ itemData.clanTitle }}
      </a>
    </p>
    <p style="text-align: left">
      <a :href="itemData.factoryHref" style="text-decoration: none; text-align: center" class="mb-3" target="_blank">
      <img class="factory" :src="sawmill" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Лесопилка')">
      <img class="factory" :src="mining" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Рудник')">
      <img class="factory" :src="laboratory" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Лаборатория')">
      <img class="factory" :src="sulfur_deposits" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Залежи серы')">
      <img class="factory" :src="cave_of_crystals" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Пещера кристаллов')">
      <img class="factory" :src="mine_of_gems" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Шахта самоцветов')">
      <img class="factory" :src="mithril_mine" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Мифриловая шахта')">
      <img class="factory" :src="obsidian_mine" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Обсидиановая шахта')">
      <img class="factory" :src="farm" v-if="(itemData.type === 'Добыча')&& (itemData.predpName === 'Ферма')">

      <img class="factory" :src="steel_shop" v-if="(itemData.type === 'Обработка')&& (itemData.predpName === 'Сталелитейный цех')">
      <img class="factory" :src="melting_shop" v-if="(itemData.type === 'Обработка')&& (itemData.predpName === 'Плавильный цех')">
      <img class="factory" :src="nickel_shop" v-if="(itemData.type === 'Обработка')&& (itemData.predpName === 'Никелевый цех')">
      <img class="factory" :src="foundry_shop" v-if="(itemData.type === 'Обработка')&& (itemData.predpName === 'Литейный цех')">
      <img class="factory" :src="magic_factory" v-if="(itemData.type === 'Обработка')&& (itemData.predpName === 'Фабрика магии')">

      <img class="factory" :src="production" v-if="itemData.type === 'Производство'">
      #{{ itemData.id }}
      {{ itemData.predpName }}
      </a>
    <p style="text-align: left">
      Регион:
      {{ itemData.region }}
    </p>
    <p style="text-align: left">
      Получено золото:
      <img class="gold" :src="goldIcon">
      {{ itemData.totalGoldPresent }}
    </p>


    <TableFactory :goldArr="itemData.goldArr" :countClanFactoryInRegion="itemData.countClanFactoryInRegion"/>

  </el-card>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"
import manufacture from "@/assets/map/manufacture.png"
import production from "@/assets/map/production.png"
import mining from "@/assets/map/mining.png"
import sawmill from "@/assets/map/sawmill.png"
import laboratory from "@/assets/map/laboratory.png"
import sulfur_deposits from "@/assets/map/sulfur_deposits.png"
import cave_of_crystals from "@/assets/map/cave_of_crystals.png"
import mine_of_gems from "@/assets/map/mine_of_gems.png"
import mithril_mine from "@/assets/map/mithril_mine.png"
import obsidian_mine from "@/assets/map/obsidian_mine.png"
import farm from "@/assets/map/farm.png"

import steel_shop from "@/assets/map/steel_shop.png"
import melting_shop from "@/assets/map/melting_shop.png"
import nickel_shop from "@/assets/map/nickel_shop.png"
import foundry_shop from "@/assets/map/foundry_shop.png"
import magic_factory from "@/assets/map/magic_factory.png"

import TableFactory from "./TableFactory"
export default {
  name: "ItemFactory",
  props: ['itemData'],
  components:{
    TableFactory
  },
  data: () => ({
    goldIcon: goldIcon,
    manufacture: manufacture,
    production: production,
    mining: mining,
    sawmill: sawmill,
    laboratory: laboratory,
    sulfur_deposits: sulfur_deposits,
    cave_of_crystals: cave_of_crystals,
    mine_of_gems: mine_of_gems,
    mithril_mine: mithril_mine,
    obsidian_mine: obsidian_mine,
    farm: farm,
    steel_shop: steel_shop,
    melting_shop: melting_shop,
    nickel_shop: nickel_shop,
    foundry_shop: foundry_shop,
    magic_factory: magic_factory,
  })
}
</script>

<style scoped>
img.logo {
  height: 19px;
  width: 19px;
}

img.gold {
  width: 25px;
  height: 25px;
}

img.factory {
  width: 30px;
  height: 30px;
}
</style>
