<template>
  <div>
    <el-collapse v-model="activeNames" @change="handleChange">
      <el-collapse-item title="Таблица прибыли" name="1">
        <el-table
            :data="goldArr"
            style="width: 100%">
          <el-table-column
              prop="dateCheck"
              label="Дата">
          </el-table-column>
          <el-table-column
              prop="gold"
              label="Золото">
            <template slot-scope="scope">
              <div style="display: flex">
                <img class="gold" :src="goldIcon">
                <p v-if="countClanFactoryInRegion>=4">
                  {{
                    Math.ceil(((scope.row.gold) / 100) * 5)
                  }}
                </p>
                <p v-if="countClanFactoryInRegion<4">
                  {{
                    Math.ceil(((scope.row.gold) / 100) * 3)
                  }}
                </p>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  name: "TableFactory",
  props: ['goldArr', 'countClanFactoryInRegion'],
  data: () => ({
    goldIcon: goldIcon,
    activeNames: ['0']
  }),
  methods: {
    handleChange(val) {
      console.log(val);
    }
  }
}
</script>

<style scoped>
img.gold {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
</style>
