<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <p>Список предприятий</p>
      </div>
      <el-card class="ml-3" style="height: 570px; overflow-y:auto" shadow="hover">
        <el-table
            :data="stonksData"
            style="width: 100%">
          <el-table-column
              prop="index"
              label="#"
              width="60">
          </el-table-column>
          <el-table-column
              prop="predpName"
              label="Название"
              width="290">
            <template slot-scope="scope">
              <a :href='scope.row.url' target="_blank">
                #{{ scope.row.id }} #{{ scope.row.predpName }}
              </a>
            </template>
          </el-table-column>
          <el-table-column
              prop="stonkMoney"
              label="Выплата"
              width="120">
            <template slot-scope="scope">
              <div style="display: flex">
                {{ scope.row.stonkMoney.replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}
                <img :src="goldIcon">
              </div>

            </template>
          </el-table-column>
          <el-table-column
              prop="oneStonkMoney"
              label="1 акция"
              width="120">
            <template slot-scope="scope">
              <div style="display: flex">
                {{ scope.row.oneStonkMoney }}
                <img :src="goldIcon">
              </div>
            </template>
          </el-table-column>
          <el-table-column
              prop="address"
              label="Акционеры"
              width="100">
            <template slot-scope="scope">
              <div style="text-align: center">
                <el-button  type="primary" plain icon="el-icon-search" @click="showStonksholder(scope.row)"></el-button>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>
  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  props: {
    stonksData: {
      default: ''
    }
  },
  name: "CompanyTable",
  data: () => ({
    goldIcon: goldIcon,
  }),
  methods: {
    showStonksholder(row){
     this.$emit('showStonksholder',row)
    }
  }
}
</script>

<style scoped>
img {
  width: 25px;
  margin-left: 10px;
}
</style>
