<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <p>Список акционеров предприятия</p>
      </div>
      <el-card class="ml-3" shadow="hover" style="height: 570px; overflow-y:auto">
        <el-table
            :data="stonksholder"
            style="width: 100%">
          <el-table-column
              prop="hero"
              label="Героц"
              width="180">
          </el-table-column>
          <el-table-column
              prop="stonksCount"
              label="Кол-во"
              width="100">
          </el-table-column>
          <el-table-column
              prop="stonksCount"
              label="Прибыль"
              width="180">
            <template slot-scope="scope">
              <div style="display: flex">
                {{ scope.row.stonksCount * Number(oneStonkMoney.replace(/,/, '')) }}
                <img :src="goldIcon">
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>

  </div>
</template>

<script>
import goldIcon from "@/assets/resources/gold.png"

export default {
  props: {
    stonksholder: {
      default: []
    },
    oneStonkMoney: {
      default: 0,
    }
  },
  name: "StockholderTable",
  data: () => ({
    goldIcon: goldIcon,
  })
}
</script>

<style scoped>
img {
  width: 25px;
  margin-left: 10px;
}
</style>
